table {
  width: 100%; /* Ocupa todo el ancho disponible */
  table-layout: auto; /* Asegura que las columnas tengan tamaños uniformes */
}
.table-container {
  width: 98%;
  border-color: #35b5ee;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
}

table th {
  background-color: #f2f2f2;
}

.columna-valor {
  font-size: 12px; /* Ajusta según sea necesario */
  white-space: nowrap; /* Asegura que el texto no haga salto de línea */
}

.columna-descTarifa {
  font-size: 12px; /* Ajusta según sea necesario */
}
