form mat-form-field {
  width: 27%;
  margin-right: 1rem;

}
form mat-form-field select {
  width: 50%;
}

.botones-form button {
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}
.btn-consultar {
  background-color: #35b5ee;
}
.btn-limpiar {
  background-color: #12437f;
}

mat-expansion-panel {
  width: 60%;
  font-size: xx-large;
  margin-top: 80px;
  border-radius: 25px;
  margin: 0 auto;
}
mat-panel-title {
  color: #00458f;
}
table {
  width: 100%; /* Ocupa todo el ancho disponible */
  table-layout: fixed; /* Asegura que las columnas tengan tamaños uniformes */
}
.table-container {
  width: 95%;
  border-color: #35b5ee;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
}
.container-expansion-panel {
  margin-top: 80px;
}
table th {
  background-color: #f2f2f2;
}
