<div class="menu-container">
  <!-- Logo en la esquina izquierda -->
  <div>
    <img
      src="https://static.wixstatic.com/media/d95f89_91136017bd9f44f99a29cf360ad759d8~mv2.png"
      alt="Logo"
      style="height: 50px"
    />
  </div>

  <!-- Barra de herramientas -->
  <mat-toolbar color="primary" style="flex: 1; justify-content: flex-end">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      id="menuIcon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span
      id="menuTitle"
      style="margin-right: auto; padding-left: 16px; color: #00458f"
      >FamiLibro</span
    >
<!--     <a mat-button routerLink="/" class="top-menu-item">
      <mat-icon>home</mat-icon>Inicio
    </a>
    <a mat-button routerLink="/tecnologias" class="top-menu-item">
      <mat-icon>people</mat-icon>Tecnologias
    </a>
    <a mat-button routerLink="/medicamentos" class="top-menu-item">
      <mat-icon> local_hospital</mat-icon>Medicamentos
    </a>
    <a mat-button routerLink="/modalidades" class="top-menu-item">
      <mat-icon>playlist_add_check</mat-icon>Modalidades
    </a>
    <a mat-button routerLink="/politicas" class="top-menu-item">
      <mat-icon>playlist_add_check</mat-icon>Politicas
    </a> -->
  </mat-toolbar>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'" [fixedTopGap]="60">
    <div class="side-nav-items">
      <a (click)="sidenav.close()" mat-button routerLink="/" class="top-menu-item">
        <mat-icon>home</mat-icon>Inicio
      </a>
      <a (click)="sidenav.close()" mat-button routerLink="/tecnologias" class="top-menu-item">
        <mat-icon>people</mat-icon>Tecnologias
      </a>
      <a (click)="sidenav.close()" mat-button routerLink="/medicamentos" class="top-menu-item">
        <mat-icon>local_hospital</mat-icon>Medicamentos
      </a>
      <a (click)="sidenav.close()" mat-button routerLink="/modalidades" class="top-menu-item">
      <mat-icon>playlist_add_check</mat-icon>Modalidades
    </a>
    <a (click)="sidenav.close()" mat-button routerLink="/politicas" class="top-menu-item">
      <mat-icon>playlist_add_check</mat-icon>Politicas
    </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
