.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#menuTitle {
  font-size: x-large; /* Aumenta el tamaño del texto */
  margin-right: 20px;
  color: #00458f; /* Cambia el color del texto a azul */
  font-weight: bold; /* (Opcional) Hace el texto más destacado */
}

.mat-toolbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: white !important; /* Cambia el color de fondo aquí */
  color: black !important; /* Cambia el color del texto si es necesario */
}

.mat-sidenav {
  background-color: #ffffff !important;
  width: 160px;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-end;
}

.side-menu-item {
  color: white !important;
  margin-top: 20px;
}

.main-content {
  margin: 20px;
}

@media (min-width: 900px) {
  #menuIcon {
    display: none;
  }

  .mat-sidenav {
    display: none;
  }
}

.logo {
  width: 100px;
  height: auto;
}

mat-toolbar img {
  height: 40px; /* Ajusta el tamaño que prefieras */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

@media (max-width: 900px) {
  .top-menu-item {
    display: none;
  }
}

.mat-toolbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.mat-sidenav {
  background-color: #ffffff !important;
  width: 160px;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-end;
}

.side-menu-item {
  color: white !important;
  margin-top: 20px;
}

.main-content {
  margin: 20px;
}

@media (min-width: 900px) {
  #menuIcon {
    display: none;
  }

  .mat-sidenav {
    display: none;
  }
}
.logo {
  width: 100px;
  height: auto;
}
mat-toolbar img {
  height: 40px; /* Ajusta el tamaño que prefieras */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}
@media (max-width: 900px) {
  .top-menu-item {
    display: none;
  }
}
