<div class="mt-20 w-7xl mx-auto border-1 border-sky-200 border-solid shadow-lg p-6">

  <!-- Header -->
  <h1 class="text-6xl font-bold text-center mb-10 titulo">
    Modalidades De Pago
  </h1>

  <!-- Cards Section -->
  <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-6 mt-10">
    <!-- Card 1 -->

    <div class="bg-white rounded-2xl shadow-lg p-6 flex items-center">
      <!-- Imagen al lado izquierdo -->
      <img
        src="assets/capita.png"
        alt="Descripción de la imagen"
        class="w-16 h-16 mr-4"
      />

      <!-- Texto al lado derecho -->
      <div>
        <h2 class="text-2xl font-semibold mb-2 subtitulo">Capita</h2>
        <p class="text-sky-500 font-bold">No se autoriza</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-white rounded-2xl shadow-lg p-6 flex items-center">
      <!-- Imagen al lado izquierdo -->
      <img
        src="assets/pgp.png"
        alt="Descripción de la imagen"
        class="w-16 h-16 mr-4"
      />

      <!-- Texto al lado derecho -->
      <div>
        <h2 class="text-2xl font-semibold mb-0 subtitulo">
          Pago global prospectivo PGP
        </h2>
        <p class="text-sky-500 font-bold">No se autoriza</p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="bg-white rounded-2xl shadow-lg p-6 flex items-center">
      <!-- Imagen al lado izquierdo -->
      <img
        src="assets/evento.png"
        alt="Descripción de la imagen"
        class="w-16 h-16 mr-4"
      />

      <!-- Texto al lado derecho -->
      <div>
        <h2 class="text-2xl font-semibold mb-0 subtitulo">Evento</h2>
        <span class="text-green-600 font-bold">Si se autoriza</span>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="mt-30 text-center">
    <p class="text-gray-700 text-lg">
      <span class="font-bold">Autorización:</span> Acción administrativa
      mediante la cual la EPS Familiar de Colombia S.A.S facilita la prestación
      de un servicio a un afiliado con el fin de respaldar nuestro rol pagador y
      de cuidador y gestor de los riesgos en salud asociados con las condiciones
      de salud y el costo medico de acuerdo con la normatividad vigente y los
      términos concebidos en los acuerdos de voluntades.
    </p>
  </div>
</div>
