.table-container {
  width: 70%;
  border-color: #35b5ee;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
}

table {
  table-layout: fixed; /* Asegura que las columnas tengan tamaños uniformes */
  width: 70%; /* Ocupa todo el ancho disponible */
}

table th {
  background-color: #f2f2f2;
}

.input-small {
  width: 150px; /* Reduce el ancho */
  height: 30px; /* Reduce el alto */
  padding: 4px; /* Ajusta el espacio interno */
  font-size: 12px; /* Tamaño de texto más pequeño */
}
