<div class="max-w-lg mx-auto p-3 mt-15 bg-white rounded-lg shadow-md">
  <form [formGroup]="formulario" (ngSubmit)="applyFilter()" class="flex space-y-4">
    <!-- Campo de búsqueda -->
    <div class="flex flex-col mr-4">
      <label for="busqueda" class="text-sm font-medium text-gray-700">Buscar Medicamentos</label>
      <input id="busqueda" type="text" placeholder="Escriba para buscar" formControlName="busqueda"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-50
        focus:border-blue-50 block w-full p-2.5 input-small" />
    </div>

    <!-- Listas desplegables: Cum y Atc -->
    <div class="flex gap-4">
      <!-- Campo de selección: Cum -->
      <div class="flex-1 flex flex-col">
        <label for="cum" class="text-sm font-medium text-gray-700">Cum</label>
        <input type="text" matInput placeholder="Ingrese cum" [formControl]="cumCtrl" aria-label="cum"
          [matAutocomplete]="auto" class="bg-gray-50 border border-gray-300
          text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-small" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let cum of filteredCums | async" [value]="cum">
            {{ cum }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- Campo de selección: Atc -->
      <div class="flex-1 flex flex-col">
        <label for="atc" class="text-sm font-medium text-gray-700">Atc</label>
        <input type="text" matInput placeholder="Ingrese atc" [formControl]="atcCtrl" aria-label="atc"
          [matAutocomplete]="auto1" class="bg-gray-50 border border-gray-300
          text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 input-small" />
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let atc of filteredAtcs| async" [value]="atc">
            {{ atc }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>

  </form>
    <!-- Botones -->
    <div class="flex justify-center gap-4">
      <button type="button"
      class="flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none
      focus:ring-2 focus:ring-blue-500 input-small" (click)="applyFilter()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    Consultar
  </button>
  <button type="button"
  class="flex items-center gap-2 px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700
  focus:outline-none focus:ring-2 focus:ring-red-500 input-small"
  (click)="clearFilters()">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
  stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
Limpiar Filtros
</button>
</div>
</div>

<br />
<div class="table-container">
  <table class="test" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="cum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cum">
        cum
      </th>
      <td mat-cell *matCellDef="let medicamento">{{ medicamento.cum }}</td>
    </ng-container>
    <ng-container matColumnDef="atc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by atc">
        Atc
      </th>
      <td mat-cell *matCellDef="let medicamento">{{ medicamento.atc }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by descripcion">
        Descripcion
      </th>
      <td mat-cell *matCellDef="let medicamento">
        {{ medicamento.descripcion }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
